body{
  margin: 0;
background-color: #0C0C0C;
display: flex;
justify-content:center;
align-items: center;
height: 100vh; 
margin-right: 12.5%;

}

.maindiv{
  background-color: #481E14;
  overflow: hidden;
  max-width: 150%;
  min-width: 150%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:2%;

  
}
.inputgrps{
  display: flex;
}

